# Ignore virtual environment directory
env/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore IDE/editor specific files
.vscode/
.idea/

# Ignore other unnecessary files
.DS_Store

# Ignore node_modules directory in blockchain
blockchain/node_modules/

# Ignore ganache.db folder in blockchain
blockchain/ganache.db/
